## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.sln.docstates

## User secrets
secrets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## VS
.vs/
*.rsuser
*.cache
*.ncb
*.sdf
*.opensdf

## Rider
.idea/

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Temp
*.tmp
*.log
